/* smartPhone */
@media screen and (max-width: 599px) {

 #mapTbl{
  border-collapse:collapse; /* 隣接する枠線を重ねる */
  text-align : center; /* 文字水平位置 */
  font-size : 8px; /* 文字サイズ */
  background-color : transparent; /* 表 背景色 */
  border : 1px solid aqua; /* 表 枠線 */
  margin-left: auto;
  margin-right: auto;
}
    } 

#mapTbl tr{height : 0.4em;}/* 行の高さ */

#mapTbl tr td{
 border : 1px solid transparent; /* セル 枠線 */
 padding: 2px; /* 内側の余白 */

   }

.hokka{ /* 北海道 */
  height : 7em;
  background-color : #8cffa9; /* 各地方の背景色 */
  cursor : pointer; /* マウスカーソルの形状 */
   }

.tohoku{ /* 東北 */
  background-color : #8cffa9;
  cursor : pointer;
   }

.kanto{ /* 関東 */
  background-color : #8cffa9;
  cursor : pointer;
   }

.hokuriku{ /* 北陸 */
  background-color :#8cffa9;
  cursor : pointer;
   }

.kosinetu{ /* 甲信越 */
  background-color : #8cffa9;
  cursor : pointer;
   }

.cyuubu{ /* 中部 */
  background-color : #8cffa9;
  cursor : pointer;
   }

.kinki{ /* 近畿 */
  background-color : #8cffa9;
  cursor : pointer;
   }
.tyugoku{ /* 中国 */
  background-color : #8cffa9;
  cursor : pointer;
   }

.sikoku{ /* 四国 */
  background-color : #8cffa9;
  cursor : pointer;
   }

.kyusyu{ /* 九州、沖縄 */
  background-color : #8cffa9;
  cursor : pointer;
   }

.kaikyo{ height : 1em;} /* 津軽海峡 */

.topBottom{ height : 2em; } /*外枠と地図の 上下余白 */

.leftRight{ width : 2em; } /* 左右余白 */
}

/* pc */
@media screen and (min-width: 961px) and (max-width: 1280px) {
  #mapTbl{
  border-collapse:collapse; /* 隣接する枠線を重ねる */
  text-align : center; /* 文字水平位置 */
  font-size : 15px; /* 文字サイズ */
  background-color : transparent; /* 表 背景色 */
  border : 1px solid aqua; /* 表 枠線 */
  margin-left: auto;
  margin-right: auto;
    } 

#mapTbl tr{height : 0.4em;}/* 行の高さ */

#mapTbl tr td{
 border : 1px solid transparent; /* セル 枠線 */
 padding: 2px; /* 内側の余白 */

   }

.hokka{ /* 北海道 */
  height : 7em;
  background-color : #8cffa9; /* 各地方の背景色 */
  cursor : pointer; /* マウスカーソルの形状 */
   }

.tohoku{ /* 東北 */
  background-color : #8cffa9;
  cursor : pointer;
   }

.kanto{ /* 関東 */
  background-color : #8cffa9;
  cursor : pointer;
   }

.hokuriku{ /* 北陸 */
  background-color :#8cffa9;
  cursor : pointer;
   }

.kosinetu{ /* 甲信越 */
  background-color : #8cffa9;
  cursor : pointer;
   }

.cyuubu{ /* 中部 */
  background-color : #8cffa9;
  cursor : pointer;
   }

.kinki{ /* 近畿 */
  background-color : #8cffa9;
  cursor : pointer;
   }
.tyugoku{ /* 中国 */
  background-color : #8cffa9;
  cursor : pointer;
   }

.sikoku{ /* 四国 */
  background-color : #8cffa9;
  cursor : pointer;
   }

.kyusyu{ /* 九州、沖縄 */
  background-color : #8cffa9;
  cursor : pointer;
   }

.kaikyo{ height : 1em;} /* 津軽海峡 */

.topBottom{ height : 2em; } /*外枠と地図の 上下余白 */

.leftRight{ width : 2em; } /* 左右余白 */
}

/* bigpc */
@media screen and  (min-width: 1281px) {
#mapTbl{
  border-collapse:collapse; /* 隣接する枠線を重ねる */
  text-align : center; /* 文字水平位置 */
  font-size : 15px; /* 文字サイズ */
  background-color : transparent; /* 表 背景色 */
  border : 1px solid aqua; /* 表 枠線 */
  margin-left: auto;
  margin-right: auto;
    } 

#mapTbl tr{height : 0.4em;}/* 行の高さ */

#mapTbl tr td{
 border : 1px solid transparent; /* セル 枠線 */
 padding: 2px; /* 内側の余白 */

   }

.hokka{ /* 北海道 */
  height : 7em;
  background-color : #8cffa9; /* 各地方の背景色 */
  cursor : pointer; /* マウスカーソルの形状 */
   }

.tohoku{ /* 東北 */
  background-color : #8cffa9;
  cursor : pointer;
   }

.kanto{ /* 関東 */
  background-color : #8cffa9;
  cursor : pointer;
   }

.hokuriku{ /* 北陸 */
  background-color :#8cffa9;
  cursor : pointer;
   }

.kosinetu{ /* 甲信越 */
  background-color : #8cffa9;
  cursor : pointer;
   }

.cyuubu{ /* 中部 */
  background-color : #8cffa9;
  cursor : pointer;
   }

.kinki{ /* 近畿 */
  background-color : #8cffa9;
  cursor : pointer;
   }
.tyugoku{ /* 中国 */
  background-color : #8cffa9;
  cursor : pointer;
   }

.sikoku{ /* 四国 */
  background-color : #8cffa9;
  cursor : pointer;
   }

.kyusyu{ /* 九州、沖縄 */
  background-color : #8cffa9;
  cursor : pointer;
   }

.kaikyo{ height : 1em;} /* 津軽海峡 */

.topBottom{ height : 2em; } /*外枠と地図の 上下余白 */

.leftRight{ width : 2em; } /* 左右余白 */
}